@font-face {
  font-family: "CormorantGaramond";
  src: url("./font/CormorantGaramond-SemiBold.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "CormorantGaramond";
  src: url("./font/CormorantGaramond-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "NotoSerifSC";
  src: url("./font/NotoSerifSC-SemiBold.otf") format("opentype");
  font-weight: normal;
}
:lang(zh-Hans),
input,
p.trad {
  font-family: NotoSerifSC;
}
html {
  font-size: 15px;
}
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("./lantern.svg");
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  overflow-x: hidden;
  font-size: 1rem;
  font-family: CormorantGaramond;
  font-weight: normal;
  color: #292929;
  line-height: 1.6rem;
}
#box {
  width: 97%;
  margin: 0 auto;
}
.root {
  z-index: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50px;
}
h1 {
  background-color: rgba(249, 249, 249, 0.8);
  width: 90%;
  text-align: center;
  margin: 1% auto;
  padding: 1%;
}
h2 {
  text-align: left;
}
.content-box {
  background-color: rgba(249, 249, 249, 0.8);
  width: 90%;
  margin: .5% auto;
  padding: 2%;
}
.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*
base - f06464 
accent - 590202
dark grey - 292929
light grey - f9f9f9*/
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  width: 75%;
  outline: 0;
  border: 0;
  border-bottom: 1px #ccc solid;
  padding: 1%;
}
img {
  text-align: center;
}
ul {
  padding-left: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: #292929;
}
li a,
p a {
  border-bottom: 1px solid #292929;
}
li a:hover,
p a:hover {
  color: #f06464;
  border-bottom: 1px solid #f06464;
}
#menu-wrapper {
  display: none;
  background-color: rgba(240, 100, 100, 0.5);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 100%;
  height: 50%;
}
.menu {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu a {
  text-align: center;
  width: 50%;
  padding: 2%;
  margin: 1% auto;
  background-color: #f06464;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: ease-in;
}
.menu a:hover {
  background-color: #590202;
  color: #fff;
  transform: translateX(10px);
}
.menu-button {
  width: 40px;
  height: 40px;
  background-color: #f06464;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 2;
}
.menu-button:hover,
.back:hover {
  background-color: #590202;
  color: #fff;
}
.menu-button:hover .line {
  background-color: #fff;
}
.lines {
  width: 26px;
  height: 20px;
  position: absolute;
  top: 10px;
  left: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}
.line {
  width: 100%;
  height: 2px;
  background-color: #292929;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: ease-in;
}
.line-2.open {
  display: none;
}
.line-1.open {
  transform: translateY(10px) translateY(-50%) rotate(45deg);
  transform-origin: center;
}
.line-3.open {
  transform: translateY(-10px) translateY(50%) rotate(-45deg);
  transform-origin: center;
}
@media only screen and (min-width: 500px) {
  html {
    font-size: 17px;
  }
  #menu-wrapper {
    width: 50%;
    height: 100%;
  }
  .search {
    flex-direction: row;
    align-items: flex-start;
  }
  .menu a {
    text-align: center;
    width: 60%;
    padding: 15px;
    margin: 3% auto;
    background-color: #f06464;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: ease-in;
  }
}
